# **Hands-on Practice Lab: Importing Dataset - Laptops Pricing**

Estimated time needed: **20** minutes

In this lab, you will practice the process of loading and drawing basic insights on a dataset as learnt through the module. You are being provided with a fresh dataset on 'Laptop Pricing' which will be used for all the practice labs throughout the course.

# Objectives

After completing this lab you will be able to:

 - Import a dataset from a CSV file to a Pandas dataframe
 - Develop some basic insights about the dataset

# Setup

For this lab, we will be using the following libraries:

* `skillsnetwork` for downloading the daataset

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

### Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np

Simply use the URL directly in the `pandas.read_csv()` function.

In [2]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"
df = pd.read_csv(filepath, header=None)

<h1> Task #1: </h1>
<h3>Load the dataset to a pandas dataframe named 'df'</h3>
Print the first 5 entries of the dataset to confirm loading.

In [3]:
# Write your code below and press Shift+Enter to execute.
df

          0   1          2   3   4   5       6    7   8    9     10    11
0       Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1       Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2       Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3       Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4         HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837
..       ...  ..        ...  ..  ..  ..     ...  ...  ..  ...   ...   ...
233   Lenovo   4  IPS Panel   2   1   7   35.56  2.6   8  256   1.7  1891
234  Toshiba   3    Full HD   2   1   5  33.782  2.4   8  256   1.2  1950
235   Lenovo   4  IPS Panel   2   1   5   30.48  2.6   8  256  1.36  2236
236   Lenovo   3    Full HD   3   1   5  39.624  2.5   6  256   2.4   883
237  Toshiba   3    Full HD   2   1   5   35.56  2.3   8  256  1.95  1499

[238 rows x 12 columns]

<details><summary>Click here for solution</summary>

```python
df = pd.read_csv(file_name, header=None)
print(df.head())
```
</details>

<h1> Task #2: </h1>
<h3>Add headers to the dataframe</h3>
The headers for the dataset, in sequence, are "Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core",
"Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg" and "Price".

Confirm insertion by printing the first 10 rows of the dataset.

In [4]:
# Write your code below and press Shift+Enter to execute.
headers = ['Manufacturer','Category','Screen','GPU','OS','CPU_core','Screen_size','CPU_freq','RAB_gb','Storage_gb','Weight','Price']
df.columns = headers
df

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_size,CPU_freq,RAB_gb,Storage_gb,Weight,Price
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...
233,Lenovo,4,IPS Panel,2,1,7,35.56,2.6,8,256,1.7,1891
234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.2,1950
235,Lenovo,4,IPS Panel,2,1,5,30.48,2.6,8,256,1.36,2236
236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.4,883
237,Toshiba,3,Full HD,2,1,5,35.56,2.3,8,256,1.95,1499

<details><summary>Click here for solution</summary>

```python
# create headers list
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns = headers
print(df.head(10))
```
</details>

<h1> Task #3: </h1>
<h3>Replace '?' with 'NaN'</h3>
Replace the '?' entries in the dataset with NaN value, recevied from the Numpy package.

In [5]:
# Write your code below and press Shift+Enter to execute.
df.replace('?',np.nan)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_size,CPU_freq,RAB_gb,Storage_gb,Weight,Price
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...
233,Lenovo,4,IPS Panel,2,1,7,35.56,2.6,8,256,1.7,1891
234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.2,1950
235,Lenovo,4,IPS Panel,2,1,5,30.48,2.6,8,256,1.36,2236
236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.4,883
237,Toshiba,3,Full HD,2,1,5,35.56,2.3,8,256,1.95,1499

<details><summary>Click here for solution</summary>

```python
df.replace('?',np.nan, inplace = True)
```
</details>

<h1> Task #4: </h1>
<h3>Print the data types of the dataframe columns</h3>
Make a note of the data types of the different columns of the dataset.

In [6]:
# Write your code below and press Shift+Enter to execute.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Manufacturer  238 non-null    object
 1   Category      238 non-null    int64
 2   Screen        238 non-null    object
 3   GPU           238 non-null    int64
 4   OS            238 non-null    int64
 5   CPU_core      238 non-null    int64
 6   Screen_size   238 non-null    object
 7   CPU_freq      238 non-null    float64
 8   RAB_gb        238 non-null    int64
 9   Storage_gb    238 non-null    int64
 10  Weight        238 non-null    object
 11  Price         238 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.4+ KB

<details><summary>Click here for solution</summary>

```python
print(df.dtypes)
```
</details>

<h1> Task #5: </h1>
<h3>Print the statistical description of the dataset, including that of 'object' data types.</h3>

In [7]:
# Write your code below and press Shift+Enter to execute.
df.describe()

,Category,GPU,OS,CPU_core,CPU_freq,RAB_gb,Storage_gb,Price
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,3.205882,2.151261,1.058824,5.630252,2.360084,7.882353,245.781513,1462.344538
std,0.776533,0.638282,0.235790,1.241787,0.411393,2.482603,34.765316,574.607699
min,1.000000,1.000000,1.000000,3.000000,1.200000,4.000000,128.000000,527.000000
25%,3.000000,2.000000,1.000000,5.000000,2.000000,8.000000,256.000000,1066.500000
50%,3.000000,2.000000,1.000000,5.000000,2.500000,8.000000,256.000000,1333.000000
75%,4.000000,3.000000,1.000000,7.000000,2.700000,8.000000,256.000000,1777.000000
max,5.000000,3.000000,2.000000,7.000000,2.900000,16.000000,256.000000,3810.000000

<details><summary>Click here for solution</summary>

```python
print(df.describe(include='all'))
```
</details>

<h1> Task #6: </h1>
<h3>Print the summary information of the dataset.</h3>

In [ ]:
# Write your code below and press Shift+Enter to execute.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Manufacturer  238 non-null    object
 1   Category      238 non-null    int64
 2   Screen        238 non-null    object
 3   GPU           238 non-null    int64
 4   OS            238 non-null    int64
 5   CPU_core      238 non-null    int64
 6   Screen_size   238 non-null    object
 7   CPU_freq      238 non-null    float64
 8   RAB_gb        238 non-null    int64
 9   Storage_gb    238 non-null    int64
 10  Weight        238 non-null    object
 11  Price         238 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.4+ KB

:

<details><summary>Click here for solution</summary>

```python
print(df.info())
```
</details>

---

# Congratulations! You have completed the lab

<!--## Change Log

<!--|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-09-15|0.1|Abhishek Gagneja|Initial Version Created|
|2023-09-18|0.2|Vicky Kuo|Reviewed and Revised|--!>